@media only screen and (min-width:320px){
    
}
@media only screen and (min-width: 1024px){

}
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@900&display=swap'); 

html{
    display: block;
    height: 14200px;
}
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
body {
    width: 100%;
    max-width: 1920px;
    margin: 0 auto;
    font-family: 'Noto Sans JP', sans-serif;
}
#background{
    background-image: url(img/01-bg-a.png);
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    width: 1920px;
    height: 14200px;
    background-image: no-repeat;
}
#top .logohotel {
    position: relative;

    margin-top: 20px;
}
.imghotel {
    position: relative;
    bottom: 40px;
    margin-top: auto;
    

}

nav .nav {
    font-family: 'Noto Sans JP', sans-serif; 
    letter-spacing: 5px ;
    

}
.hotel-name {
    position: relative;
    bottom: 800px;
    margin-top: 0;
}
.titlehotel{
    margin-top: 01;
    position: relative;
    padding-left: 200px;
}
.logohotel {
    position: relative;
    bottom: 1198px;
    min-height: auto;
    margin-top: 500px;
    margin-bottom: 20px;
    padding-left: 70px;
    padding-right: 75px;
    padding-bottom: 20px;
}
#navbar {
    justify-content: flex-start;
    text-align: center;
}
.navbar-a {
    position: relative;
    bottom: 2850px;
    left: 30px;

}
.navbar-b {
    position: relative;
    bottom: 2850px;
    left: 60px;
}
.navbar-c {
    position: relative;
    bottom: 2850px;
    left: 80px;
}
.navbar-d {
    position: relative;
    bottom: 2850px;
    left: 100px;
}
.snowimg {
    position:relative;
    bottom: 1600px ;

}
.snowtext {
    position: relative;
    text-align: center;
    font-weight: 600;
    font-size: small;
    font-weight: 800;
    letter-spacing: 0.2px;
    line-height: 1.75;
    bottom: 660px;
    text-decoration: none;
    font-style: normal;
    font-family: 'Noto Sans JP', sans-serif;
    font-size: 40px;
}
h3 {
    font-size: xx-large;
    color: rgb(40, 77, 158);
    position: relative;
    bottom: 1800px;
}
.navbg {
    position: relative;
    bottom: 1880px;
}
.snowimg {
    text-decoration: none;
}
.navbar-a img:hover {
    transform: scale(5deg);
    scale: 1,2;
    transition: 0,5s;
}

.bgfamily {
    position: relative;
    bottom: 2300px;
    left: 160px;
}
.familytitle {
    position: relative;
    bottom: 5000px;
}
.imgslide1, .imgslide2, .imgslide3, .imgslide4, .imgslide5 {
    position: relative;
    bottom: 5000px;
    left: 510px;
    display: block;
}
.prev,
.next {
    cursor: pointer;
    position: relative ;
    top: 1000;
    width: 40px;
    padding: 16px;
    color: rgb(13, 60, 102);
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
    background-color: rgb(78, 155, 226);
    position: relative;
    bottom: 8000px;
    
}
.next {
    right: -800px;
    border-radius: 3px 0 0 3px;
    margin-right: 100px;
}
.prev {
    left: -200px;
    
}
.prev:hover,
.next:hover {
    background-color: aliceblue;
    color: black;
}
.rightleft {
    position: relative;
    left: 590px;
    bottom: 300;
}
.familyslide .imgfamily {
    position: flex;

}
.familyslide {
    max-width: auto;
    position: relative;
}

.plankfamily-a {
    position: relative;
    bottom: 8000px;
}
